:root {
  --font-family-var: "Roboto-Bold", Helvetica, sans-serif;
}

@font-face {
  font-family: var(--font-family-var);
  src: local("/Roboto/Roboto-Bold.woff2") url("Roboto/Roboto-Bold.woff2")
    format("woff2");
  font-weight: normal, bold;
  font-style: normal;
  font-display: swap;
  font-variant: normal;
}

* {
  font-family: var(--font-family-var);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: var(--font-family-var);
  background: rgba(0, 0, 0, 0);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
  border: none;
  padding: 0;
  margin: 0;
}

body {
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}

body::-webkit-scrollbar {
  display: none;
}

.youtube-player-container {
  background: rgba(0, 0, 0, 0);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
  border: none;
  padding: 0;
  margin: 0;
}

.youtube-player {
  background: rgba(0, 0, 0, 0);
  width: 1080px;
  height: 1920px;
  object-fit: cover;
  display: flex;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
  border: none;
  padding: 0;
  margin: 0;
}

.youtube-thumbnail-player {
  background: rgba(0, 0, 0, 0);
  width: 1080px;
  height: 1920px;
  object-fit: cover;
  display: flex;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
  border: none;
  padding: 0;
  margin: 0;
}
